 



<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>view employee</title>
	<!-- <link rel=“icon” type=“image/x-icon” href=“/image/call.ico”> -->
	<link rel="icon" href="/heart.ico" type="image/icon type">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/style.css" />
   
</head>
<body>
	<%- include("common/header.ejs") %>
    <%- include("common/nav.ejs") %>
    <center>
    <form action="/updateemployee/<%=result[0].id%>" method="post">

    <table border="2" class="table">
        <tr>
            <th>employee_id</th>
            <td><input id="employee_id" type="text" name="employee_id" value="<%= result[0]._id %>"></td>
        </tr>
        <tr>
            <th>name</th>
            <td><input id="name" type="text" name="name" value="<%= result[0].name %>"></td>
        </tr>
        <tr>
            <th>ph_no</th>
            <td><input id="ph_no" type="phone" name="ph_no" value="<%= result[0].ph_no %>"></td>
        </tr>
        <tr>
            <th>address</th>
            <td> <input id=address type="text" name="address" value="<%= result[0].address%>"></td>
        </tr>
        <tr>
            <th>email</th>
            <td><input id="email" type="email" name="email" value="<%= result[0].email%>"></td>
        </tr>
        <tr>
            <th>salary</th>
            <td><input id="salary" type="string" name="salary" value="<%= result[0].salary%>"></td>
        </tr>
    <tr>
      <th>submit</th>
      <td><button type="submit" class="button">Submit</button></td>
    </tr>
      
   </table>
   
   
    </form></center>
	<%- include("common/footer.ejs") %>
</body>
</html>
